/* Get Started Section CSS Start */

.get-started-wrapper {
	position: relative;
	margin-bottom: -120px;
}

.get-started-container {
	max-width: 1000px;
	width: 100%;
	margin: auto;
	text-align: center;
	padding: 38px 68px;
	background: var(--primary-100, #e7f3f1);
	border-radius: 7px;
}

.get-started-content h2 {
	font-size: 56px;
	font-weight: 700;
	line-height: 57px;
	color: var(--dark);
	padding-bottom: 32px;
}

/* Get Started Section CSS End */

/* Footer Part CSS Start */

.footer-wrapper {
	padding: 220px 0 40px;
	background: var(--primary-900, #0a332b);
}

.footer-about {
	max-width: 244px;
}

.footer-about p {
	font-size: 18px;
	line-height: 25.424px;
	color: var(--light);
	padding-top: 20px;
}

.footer-menu h6 {
	font-size: 19px;
	font-weight: 700;
	margin-bottom: 8px;
	color: var(--light);
}

.footer-nav {

	padding: 0;

	li {
		padding: 8px 0;
		list-style: none;
	}
}

.footer-nav li a {
	font-size: 18px;
	color: var(--light);
	text-decoration: underline;
}

.footer-copyright p {
	font-size: 18px;
	text-align: center;
	padding-top: 30px;
	margin: 0;
	color: var(--light);
}

/* Footer Part CSS End */