[build]

command = "cd themes/docsy && git submodule update -f --init && cd ../.. && ./build.sh"

[build.environment]
GO_VERSION = "1.19.2"
HUGO_VERSION = "0.95.0"

[context.production]
  environment = { BASE_URL = "https://kluctl.io/" }

[[redirects]]
  from = "/docs/reference/*"
  to = "/docs/kluctl/reference/:splat"
[[redirects]]
  from = "/docs/concepts"
  to = "/docs/kluctl/concepts"
[[redirects]]
  from = "/docs/get-started"
  to = "/docs/kluctl/get-started"
[[redirects]]
  from = "/docs/history"
  to = "/docs/kluctl/history"
[[redirects]]
  from = "/docs/installation"
  to = "/docs/kluctl/installation"
[[redirects]]
  from = "/docs/philosophy"
  to = "/docs/kluctl/philosophy"

[[redirects]]
  from = "/docs/flux/controller"
  to = "/docs/gitops"
[[redirects]]
  from = "/docs/flux"
  to = "/docs/gitops"
