{{ if os.FileExists "static/favicons/favicon.ico" -}}
<link rel="icon" href="{{ "favicons/favicon.ico" | absURL }}" sizes="any">
{{ end -}}
{{ if os.FileExists "static/favicons/apple-touch-icon.png" -}}
<link rel="apple-touch-icon" sizes="180x180" href="{{ "favicons/apple-touch-icon.png" | absURL }}">
{{ end -}}
{{ if os.FileExists "static/favicons/android-chrome-512x512.png" -}}
<link rel="icon" type="image/png" sizes="512x512"  href="favicons/android-chrome-512x512">
{{ end -}}
{{ if os.FileExists "static/favicons/android-chrome-192x192.png" -}}
<link rel="icon" type="image/png" sizes="192x192"  href="favicons/android-icon-192x192.png">
{{ end -}}
{{ if os.FileExists "static/favicons/favicon-32x32.png" -}}
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicons/favicon-32x32.png" | absURL }}">
{{ end -}}
{{ if os.FileExists "static/favicons/favicon-16x16.png" -}}
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicons/favicon-16x16.png" | absURL }}">
{{ end -}}
{{ if os.FileExists "static/favicons/site.webmanifest" -}}
<link rel="manifest" crossorigin="use-credentials" href="{{ "favicons/site.webmanifest" | absURL }}">
{{ end -}}
