/*========= Variables ==========*/
:root {
    --primary: var(--emerald);
    --content-link-color: var(--primary);
}
// Code variables
$code-block-padding-top: 0;

// Border radius variables
$code-block-border-radius: .7rem;
$sidebar-link-radius: .35rem;

/*========= Imports ==========*/
@import "../../../docs/scss/variables";
@import "../../../docs/scss/custom/structure/content";
@import "../../../docs/scss/custom/plugins/prism/themes/lucario";
@import "../../../docs/scss/custom/plugins/prism/prism";

.zoom-img {
    border-radius: .75rem;
    overflow: hidden;
    transform: translateZ(0);
}
.zoom-img img {
    display: block;
    transition: transform .35s ease-in-out;
}
.zoom-img:hover img {
    transform: scale(1.05);
}
// .badge {
//     color: var(--primary-700);
//     background-color: var(--primary-100);
// }
.avatar-xs {
    height: 1.5rem;
    width: 1.5rem;
}
.avatar {
    display: inline-block;
    height: 3rem;
    position: relative;
    width: 3rem;
}
.blog-content {
    img {
        max-width: 100%;
        border-radius: .3rem;
        margin: .51rem 0;
    }
}
.blog-list {
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}
.page-link {
    color: #000;
}
.page-link.active, .active > .page-link {
    background-color: var(--content-link-color);
    border-color: var(--primary-700);
}
