@mixin white-background-a {
  a {
    color: $secondary !important;

    &:hover {
      color: $secondary !important;
    }
  }
}

@mixin gray-background-a {
  a {
    color: $secondary !important;

    &:hover {
      color: $secondary !important;
    }
  }
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

// center section contents and limit width for ultra-wide screens
main.td-main {
  padding-top: 5rem;
  section.row {
    justify-content: center !important;
    & > .col {
      max-width: 1140px;
      & > .row {
        padding-left: 0;
        padding-right: 0;
      }
    }
    &.td-box {
      padding-top: 2rem;
      padding-bottom: 1.5rem;
    }
  }

  .td-box--primary p > a {
    color: white;
    text-decoration: underline;
    // font-weight: 600;
  }

  .h4 {
    h2.section-label {
      font-weight: 600;
      margin-bottom: 0.75rem;
      font-size: 1.5rem;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 0.75rem;
    }
  }
}

.features, .resources {
  .h3 {
    margin-top: 2rem;
    font-weight: 600;
  }

  h4 {
    font-weight: 600;
    margin: 0.85rem 0;
  }
}

.features {
  .fas, .fab, .fa {
    color: $primary;
  }

  .col-lg-4 {
    padding: 0 2rem !important;
    margin: 2rem 0rem !important;
  }

  @include white-background-a;
}

.td-content {
  div.lead  {
    display: none;
  }
}

