
.terminal {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: 100%;
  justify-content: center;

  pre {
    &.terminal-content {
      width: max-content;
      height: 460px;

      color: #fff;
      overflow: hidden;
      font-size: 0;
      -webkit-font-smoothing: antialiased;

      video {
        translate: -1px -0px;
        width: 1400px;
      }
    }
  }
}
