@import "variables_project";
@import "../../themes/docsy/assets/scss/main.scss";
@import "index";
@import "buttons";
@import "blocks/blocks";
@import "terminal";
@import "tabs";
@import "styles_project";
@import "blog";

// custom

.td {
  &-section,
  &-page {
    @media screen and (max-width: 667px) {
      > .td-outer {
        margin-top: 1.5rem;
      }
      .td-sidebar {
        margin-top: 1.5rem;
      }
    }
  }
}

.md-typeset__table {
  max-width: 100%;
  overflow: scroll;
}