@import "variables_project";
@import "../../themes/docsy/assets/scss/main.scss";
@import "index";
@import "buttons";
@import "blocks/blocks";
@import "terminal";
@import "tabs";
@import "styles_project";
@import "blog";

// custom

:root {
  --theme-color: rgb(81, 166, 132);
  --td-bg-color-1: #fafafa;
  --td-bg-color-2: #f0f0f0;
}

.navbar-expand .navbar-nav {
  @media screen and (min-width: 1024px) {
    transform: translateX(15rem)
  }
}
main.td-main {
  @media screen and (min-width: 1024px) { 
    padding-top: 4rem;
  }
}
.td {
  &-section,
  &-page {
    @media screen and (max-width: 667px) {
      > .td-outer {
        margin-top: 1.5rem;
      }
      .td-sidebar {
        margin-top: 1.5rem;
      }
    }

    table {
      border-collapse: initial;
      width: 100%;
    }

    td, th {
      padding: 0.5rem 1rem;
    }

    th {
      background-color: var(--theme-color);
      color: var(--light);
    }

    tr {
      width: 100%;
      --bg: var(--td-bg-color-2);
      background-color: var(--bg);
      &:nth-child(odd) {
        --bg: var(--td-bg-color-1);
      }
    }
  }
}

.md-typeset__table {
  max-width: 100%;
  overflow: scroll;
}

.popover-body small {
  display: none !important;
}