{{- with site.Data.adopters }}
<section id="Adopters">
        <div class="adopters-wrapper">
                <div class="container">
                        <div class="section-top">
                                <h2>{{ .title }}</h2>
                        </div>
                        <swiper-container
                                class="adopters-card-container"
                                css-mode="true"
                                loop="true"
                                autoplay-delay="5000"
                                init="false"
                        >
                                {{- range .list }} {{- $title := .title }} {{- $url := .url }}
                                <swiper-slide class="adopters-card">
                                        {{- with .logo -}} {{- with resources.Get . -}}
                                        <div class="adopters-card-icon">
                                                {{ if $url }}<a href="{{ $url }}" target="_blank"
                                                        >{{ end }}
                                                        <img
                                                                src="{{ .RelPermalink }}"
                                                                alt="{{ $title }} icon"
                                                        />
                                                        {{ if $url }}</a
                                                >{{ end }}
                                        </div>
                                        {{- end -}} {{- end -}}
                                        <div class="adopters-card-content">
                                                <p class="adopters-card-description">{{ .description }}</p>
                                                <blockquote>
                                                        <p class="adopters-card-testimonial">
                                                                <span>
                                                                        <span>“</span>
                                                                </span>
                                                                {{ .testimonial }}
                                                                <span>
                                                                        <span>”</span>
                                                                </span>
                                                        </p>
                                                        <footer class="adopters-card-author">
                                                                {{ .author }}
                                                                {{- if .authorTitle -}}
                                                                <br/>
                                                                {{ .authorTitle }}
                                                                {{- end -}}
                                                        </footer>
                                                </blockquote>
                                        </div>
                                </swiper-slide>
                                {{- end }}
                        </swiper-container>
                        <p class="adopters-add-link">
                        If you want to get listed here, fill out <a href="https://github.com/kluctl/www-kluctl.io/issues/new?assignees=&labels=&projects=&template=ADOPTER.yml" target="_blank">this</a> GitHub issue template.
                        </p>
                </div>
        </div>
</section>
{{- end -}}

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

<script>
          document.addEventListener("DOMContentLoaded", () => {
                  const swiperEl = document.querySelector("swiper-container");

                  const params = {
                          slidesPerView: 1,
                          breakpoints: {
                                  768: {
                                          slidesPerView: 2,
                                          spaceBetween: 16,
                                  },
                                  1280: {
                                          slidesPerView: 3,
                                          spaceBetween: 16,
                                  }

                          },
                  };

                  Object.assign(swiperEl, params);
                  swiperEl.initialize();

                  setTimeout(function (){
                          // slide to random adopter
                          let idx = Math.random() * {{ len site.Data.adopters.list }};
                          swiperEl.swiper.slideTo(idx);
                  }, 1)
          });
</script>
