<article class="col-xl-6 col-lg-6 col-md-6 col-12">
    {{ $title := .Title }}
    {{ $link := .RelPermalink }}
    {{ with .Params.images }}
    {{ $images := . }}
    {{ $image := index $images 0 }}

    {{- $filter := images.Process "resize 1200x630 webp q95" -}}

    {{- with resources.Get $image -}}
    {{- with . | images.Filter $filter -}}
    <figure class="zoom-img">
        <a href="{{ $link }}">
            <img src="{{ .RelPermalink }}" class="rounded-3 img-fluid" width="{{ .Width }}" height="{{ .Height }}"
                alt="{{ $title }}">
        </a>
    </figure>
    {{- end -}}
    {{- end -}}
    {{- end -}}

    {{ with .Params.tags }}
    {{- range . }}
    <a href="#!" class="badge bg-primary-subtle text-primary-emphasis rounded-pill text-uppercase">{{ . }}</a>
    {{- end }}
    {{- end }}
    <div class="py-4">
        <div class="mb-5">
            <h3 class="lh-base h4">
                <a href="{{ $link }}" class="text-reset">{{ $title }}</a>
            </h3>
            {{ with .Description }}
            <p class="mb-0">{{ . }}</p>
            {{ end }}
        </div>
        <div class="d-flex align-items-center">
            <div class="me-5">

                <div class="d-flex align-items-center mt-2">
                    {{ $author_name := .Site.Params.author.name }}
                    {{ with .Site.Params.author.image }}
                    {{ with resources.Get . }}
                    <img src="{{ .RelPermalink }}" alt="{{ $author_name }}" class="avatar avatar-xs rounded-circle">
                    {{ end }}
                    {{ end }}
                    <div class="ms-2">
                        <a href="#" class="text-reset fs-6">{{ $author_name }}</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="mt-2 text-dark"><span class="fs-6"> {{ .Date | time.Format ":date_long" }} </span></div>
            </div>
        </div>
    </div>
</article>