---
title: Kluctl - the missing glue
description: >
  Kluctl is the missing glue to put together large Kubernetes deployments.
---

<div class="hero-gitops">
  {{% blocks/hero title="Kluctl - trust your deployments!" color="primary"
                  height="full" link_title="Get started" link_url="/docs/get-started/" %}}
  Kluctl is the missing glue to put together large Kubernetes deployments.

  It allows you to declare and manage small, large, simple and/or complex multi-env and multi-cluster deployments.

  Kluctl does not have cluster-side dependencies and works out of the box.

  {{% /blocks/hero %}}

  <div class="lead-kluctl">
  {{< blocks/lead >}}

  <h2 id="kluctl-facts">Kluctl in short</h2>

  {{< /blocks/lead >}}
  </div>
</div>

<!-- used in ./content/en/docs/_index.md as well -->

<div id="feature-list">
{{% blocks/section color="white" %}}
  <div class="feature-items">

  {{< blocks/featureitem emoji="💪" caption="Kluctl handles all your deployments" >}}
    You can manage all your deployments with Kluctl, including infrastructure related and your applications.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="🪶" caption="Complex or simple, all the same" >}}
    You can manage complex and simple deployments with Kluctl. Simple deployments are lightweight while complex deployment are easily manageable.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="🤖" caption="Native git support" >}}
    Kluctl has native Git support integrated, meaning that it can easily deploy remote Kluctl projects or externalize parts (e.g. cluster configs) of your Kluctl project.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="🪐" caption="Multiple environments" >}}
    Deploy the same deployment to multiple environments (dev, test, prod, ...), with flexible differences in configuration.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="🌌" caption="Multiple clusters" >}}
    Manage multiple target clusters (in multiple clouds or bare-metal if you want).
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="🔩" caption="Configuration and Templating" >}}
    Kluctl allows to use templating in nearly all places, making it easy to have dynamic configuration.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="⎈" caption="Helm and Kustomize" >}}
    The Helm and Kustomize integrations allow you to reuse plenty of third-party charts and kustomizations.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="🔍" caption="See what's different" >}}
    Always know what the state of your deployments is by being able to run diffs on the whole deployment.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="🔎" caption="See what happened" >}}
    Always know what you actually changed after performing a deployment.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="💥" caption="Know what went wrong" >}}
    Kluctl will show you what part of your deployment failed and why.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="👐" caption="Live and let live" >}}
    Kluctl tries to not interfere with any other tools or operators. This is possible due to it's use of server-side-apply.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="🧹" caption="Keep it clean" >}}
    Keep your clusters clean by issuing regular prune calls.
  {{< /blocks/featureitem >}}
  {{< blocks/featureitem emoji="🔐" caption="Encrypted Secrets" >}}
    Manage encrypted secrets for multiple target environments and clusters.
  {{< /blocks/featureitem >}}
  </div>
{{% /blocks/section %}}
</div>
