+++
title = "kluctl.io"
linkTitle = "kluctl.io"

+++

{{< blocks/cover title="" image_anchor="top" height="min" color="white" >}}
<section class="row td-cover-block td-cover-block--height-{{ $height }} js-td-cover td-overlay td-overlay--light -bg-{{ $col_id }}">
	<div class="container td-overlay__inner">
		<div class="row align-items-end">
			<div class="col-lg-6 mt-5 mt-lg-3 d-sm-block" style="display: none">
				<asciinema-player
						loop autoplay font-size="12px" rows=12 cols=60 theme="kluctl"
						src="kluctl.cast"></asciinema-player>
			</div>
			<div class="col-lg-6">
				<h1 class="display-1 mt-0 pb-3">
					<img alt="kluctl" width="98" src="images/logo.svg" />
				</h1>
				<p class="display-2 mb-0">The most natural way to create and manage complex Kubernetes deployments!</p>
			</div>
			<div class="col-12 pt-3">
			</div>
		</div>
	</div>
</section>
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
	Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/kluctl/kluctl/releases">
		Releases <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-4">The most natural way to create and manage complex Kubernetes deployments!</p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="light-secondary" >}}
	</div>
</div>
{{< /blocks/cover >}}



{{% blocks/lead color="primary" %}}
The most natural way to create and manage complex Kubernetes deployments
{{% /blocks/lead %}}

{{< blocks/section >}}
{{% blocks/feature icon="fa-hammer" title="Practice oriented!" %}}
Kluctl is oriented on the daily business of DevOps Engineers.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/kluctl/kluctl" %}}
We do a [Pull Request](https://github.com/kluctl/kluctl/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/kluctl" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section >}}
<div class="col">
<h1 class="text-center">This is the second Section</h1>
</div>

{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/kluctl/kluctl" %}}
We do a [Pull Request](https://github.com/kluctl/kluctl/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/kluctl" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}
